# List Data type

In [1]:
#List are mutable as we can add, update and delete values

In [2]:
# ordered indexing slicing

# Indexing and Slicing

In [3]:
l= [10,20,30,"python","java",[100,200,300]]
print(l)

[10, 20, 30, 'python', 'java', [100, 200, 300]]

In [4]:
print(l[0])

10

In [5]:
print(l[-1][1])

200

In [6]:
print(l[1:3])

[20, 30]

In [7]:
l[::-1]

[[100, 200, 300], 'java', 'python', 30, 20, 10]

In [8]:
l[:-1]

[10, 20, 30, 'python', 'java']

In [9]:
for i in l[::2]:
    print(i)

10
30
java

In [10]:
l= [10,20,30,"python","java",[100,200,300]]
print(l)

[10, 20, 30, 'python', 'java', [100, 200, 300]]

# append

In [11]:
l.append(600) # jitni baar iss code ko execute krunga ye utni baar 600 add krta jayga 
#and most imp thing- ye values ko ek baar me add krta hai not in single wise
l

[10, 20, 30, 'python', 'java', [100, 200, 300], 600]


# Extend

In [12]:
l1= [1,2,3] #extend har ek element ko single single krke add krta hai and ye original list ko modify krta hai
l.extend([1,2,3])
l

[10, 20, 30, 'python', 'java', [100, 200, 300], 600, 1, 2, 3]

In [13]:
# above same code using append
l1= [1,2,3] 
l.append(l1)
l

[10, 20, 30, 'python', 'java', [100, 200, 300], 600, 1, 2, 3, [1, 2, 3]]

In [14]:
l.extend("Python")
l

[10,
 20,
 30,
 'python',
 'java',
 [100, 200, 300],
 600,
 1,
 2,
 3,
 [1, 2, 3],
 'P',
 'y',
 't',
 'h',
 'o',
 'n']

# insert

In [15]:
l.insert(1,10000)
l

[10,
 10000,
 20,
 30,
 'python',
 'java',
 [100, 200, 300],
 600,
 1,
 2,
 3,
 [1, 2, 3],
 'P',
 'y',
 't',
 'h',
 'o',
 'n']

In [16]:
l= [10,20,30]
l2=l
print(id(l),id(l2))

102208808 102208808

In [17]:
print(l,l2)

[10, 20, 30] [10, 20, 30]

# copy

In [18]:
#when adding a value to 1st list then 2nd list doesnt change
l= [10,20,30]
l2=l.copy()
l.append(40)
print(l,l2)

[10, 20, 30, 40] [10, 20, 30]

# Update

In [19]:
l=[10,20,30,40,50]
l[2]= 300
l

[10, 20, 300, 40, 50]

# Pop

In [20]:
r=l.pop() #last item removed
print(l)

[10, 20, 300, 40]

In [21]:
print(l,r)

[10, 20, 300, 40] 50

In [22]:
r=l.pop(1)
print(l,r)

[10, 300, 40] 20

# remove (one item at a time)

In [23]:
l=[10,20,30,40,50]
l

[10, 20, 30, 40, 50]

In [24]:
l.remove(20)
l

[10, 30, 40, 50]

In [25]:
l=[10,20,30,20,20,50]# one item at a time
l.remove(20)
l

[10, 30, 20, 20, 50]

# clear(all items cleared)

In [26]:
l.clear()
l

[]

# del (Whole LIST is deleted from memory location)

In [ ]:
del l

# sort

In [32]:
l=[50,40,30,20,10]
l.sort()
l

[10, 20, 30, 40, 50]

# sorted (works on every data structures)

In [39]:
l=[50,40,30,20,10]
l

[50, 40, 30, 20, 10]

In [40]:
sorted(l)

[10, 20, 30, 40, 50]

# index

In [41]:
l.index(30) # if multiple 30s are present it will show for the first.

2

# count

In [43]:
l=[10,10,10,10,20,20,40]
l.count(10)

4

# Addition of 2 lists

In [44]:
l1=[10,20,30]
l2=[100,200,300]
l3=l1 + l2
l3

[10, 20, 30, 100, 200, 300]

# multiplication

In [47]:
l=[0.1]
print(l*10)

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]